test-fixtures/github-webhook-to-slack.json
{
  "id": "wf-1001",
  "name": "GitHub PR Review Notifier",
  "nodes": [
    {
      "id": "b2c3d4e5-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr-events",
        "responseMode": "onReceived",
        "responseCode": 200
      },
      "webhookId": "wh-github-01"
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Is Review Submitted",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [300, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "submitted",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0003-0003-0003-000000000003",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [500, 200],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "f-1",
              "name": "channel",
              "value": "#code-reviews",
              "type": "string"
            },
            {
              "id": "f-2",
              "name": "text",
              "value": "={{ $json.review.user.login }} reviewed PR #{{ $json.pull_request.number }}: *{{ $json.review.state }}*\n{{ $json.pull_request.title }}\n{{ $json.pull_request.html_url }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0004-0004-0004-000000000004",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [700, 200],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.channel }}",
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "cred-slack-01",
          "name": "Slack Bot"
        }
      }
    },
    {
      "id": "b2c3d4e5-0005-0005-0005-000000000005",
      "name": "Log Skipped Event",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [500, 400],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Is Review Submitted", "type": "main", "index": 0 }]
      ]
    },
    "Is Review Submitted": {
      "main": [
        [{ "node": "Format Slack Message", "type": "main", "index": 0 }],
        [{ "node": "Log Skipped Event", "type": "main", "index": 0 }]
      ]
    },
    "Format Slack Message": {
      "main": [
        [{ "node": "Post to Slack", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "id": "tag-1", "name": "integrations" }],
  "meta": { "instanceId": "prod-instance-01" },
  "versionId": "v-1001-3"
}
